<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
   , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div id="shop" class="container">
    <h1>Surmalu {{anun}}</h1>
    <ul>
        <li v-for="item in lezuner">{{item}}
        </ul>
        <div class="row">


<div class="col-md-8">
    <h3>shop</h3>
    <div class="row">
<div v-for="item in apranqner" class="col-md-4">
    <img v-bind:src="item.photo" width="100 " height="100"/>
    <h4>{{item.name}}</h4>
    <p class="text-danger">{{item.price}} AMD</p>
    <p>{{item.count}}</p>
    <button v-on:click="arnel(item)" class="btn btn-warning btn-sm">Move to cart</button>

</div>
        </div>

    </div>
    <div class="col-md-4">
        <h3>cart</h3>
        <table class="table table-bordeard table-dark">
            <tr>
                <th>product</th>
                <th>price</th>
                <th>quantity</th>
                <th>subtotal</th>
                <th>actions</th>
                </tr>
                <tr v-for="item in zambyux">
                  
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price*item.quantity}}</td>
                    <td>
                        <button v-on:click="avelacnel(item)">countUp</button>
                        <button v-on:click="pakasecnel(item)">countDown</button>
                    </td>

                </tr>
                </table>

        </div>            
            </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

    <script type="text/javascript"  src="script.js"> 
	</script>
</body>
</html>